* {
    background-color: bisque;
    color:rgb(79, 23, 107);
    font-family: Garamond, "Brush Script MT", sans-serif;
}

h1, h2, p, a {
    text-align: center;
}

img {
    height: auto;
    width: 600px;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.dark-souls {
    background-color: black;
    color: #BB0000;
    font-family: 'Courier New', Courier, monospace;
}