* {
    background-color: bisque;
    color:rgb(79, 23, 107);
    font-family: Garamond, "Brush Script MT", sans-serif;
}

h1, h2, a {
    text-align: center;
}

img{
    height: auto;
    width: 600px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.centered {
    width: 800px;
    margin: 0 auto;
}